<div class="bg-black">
  <div
  class="slide bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-blue-700 via-blue-800 to-gray-900 flex justify-center items-center h-screen">

  <div class="flex flex-col justify-baseline items-center">
    <div class="rounded-full">
      <img class="rounded-full amoeba" src="assets/logos/logoUd.png" alt="">
    </div>

    <div class="my-5">
      <h1 class=" lg:text-4xl p-4 text-2xl text-white  font-bold">Unstoppable Domain Name Resolver</h1>
    </div>
    <div class="mt-10 text-center">
      <h3 class="text-white font-semibold">Powered By:</h3>
      <div class="flex mt-10">
        <div class="  w-20 h-16 mx-2 flex  flex-col justify-center items-center">
          <img class=" bounce rounded-full " src="assets/logos/ngLogo2.png" alt="">
          <p class="text-white text-cyan-400 font-semibold">Angular</p>
        </div>
        <div class="  w-20 h-16 mx-2 flex  flex-col justify-center items-center">
          <img class=" bounce4 rounded-full " src="assets/logos/moralisLogo.png" alt="">
          <p class="text-white text-cyan-400 font-semibold">Moralis</p>
        </div>
        <div class="  w-20 h-16 mx-2 flex  flex-col justify-center items-center">
          <img class=" bounce3 rounded-full " src="assets/logos/webJs.png" alt="">
          <p class="text-white text-cyan-400 font-semibold">Web3.js</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>